.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            width: 20em;
            height: 2em;
            margin: 0.7em;
        }

        button {
            width: 20em;
            height: 2em;
            border: none;
            background-color: purple;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        span {
            font-size: 1rem;
            color: red;
            margin-top: 0.7em;
        }
    }

}