.single {
    display: flex;
    // width: 100%;

    .single-container {
        flex: 6;

        .top {
            padding: 1em;
            display: flex;
            gap: 1em;

            .left {
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 1.5em;
                position: relative;

                .edit-btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 1em;
                    font-size: 0.9rem;
                    color: #7451f8;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 0px 0px 0px 5px;
                }

                .item {
                    display: flex;
                    gap: 1.5em;

                    .item-img {
                        width: 7em ;
                        height: 7em;
                        object-fit: cover;
                        border-radius: 50%;

                    }

                    .details {
                        .item-title {
                            margin-bottom: 1em;
                            color: #555;
                        }

                        .detail-item {
                            margin-bottom: 0.5em;
                            font-size: 1rem;
                        }

                        .item-key {
                            font-weight: bold;
                            color: gray;
                            margin-right: 0.3em;
                        }

                        .item-value {
                            font-weight: 300;
                        }
                    }
                }
            }

            .right {
                flex: 2;
            }
        }

        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 1em;
            margin: 1em 1.5em;
        }

        .title {
            font-size: 1rem;
            color: lightgray;
            margin-bottom: 1em;
        }
    }
}