.navbar {
   height: 4em; 
   border-bottom: 0.06em solid rgb(232, 232, 232);
   display: flex;
   align-items: center;
   font-size: 1rem;
   color: #555;

   .navbar-wrapper {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;


    .items {
        display: flex;
        align-items: center;

        .item {
            margin-right: 1.2em;
            display: flex;
            align-items: center;
            position: relative;

            .icon {
                font-size: 1.5em;
            }

            .avatar {
                width: 2em;
                height: 2em;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
   }
}

